.card {
  width: 434px;
  width: 370px;
  height: auto;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px, rgba(0, 0, 0, 0.03) 0px 1px 2px,
    rgba(255, 255, 255, 0.6) 0px 4px 9px inset;

  .cardTopDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ecedef;

    .rowDiv {
      display: flex;
      align-items: center;
      gap: 30px;

      .marketButtonStyle {
        border-bottom: 2px solid #25272b;
        color: rgb(31, 31, 65);
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        height: 100%;
        line-height: 20px;
        padding: 10px 0;
      }
      .limitButtonStyle {
        color: #25272b87;
        cursor: not-allowed;
        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        height: 100%;
        line-height: 20px;
        padding: 10px 0;
      }
    }
  }
  .cardMiddleDiv {
    padding: 10px 20px;
    .fromTokenSelectContainer {
      display: flex;
      flex-direction: column;
      .fromTokenSelectContainerTop {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .titleStyle {
          color: rgb(31, 31, 65);
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
        .balanceStyle {
          color: #25272b87;
          font-family: Gilroy, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
      }
      .fromTokenSelectContainerMiddle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        .chooseTokenDiv {
          display: flex;
          align-items: center;
          background-color: #f2f3fd;
          padding: 5px;
          border-radius: 16px;
          width: 110px;
          justify-content: space-between;

          .fromText {
            color: rgb(31, 31, 65);
            font-family: Gilroy, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
          }
        }

        .fromTokenSelectContainerMiddleInnerLeftContainer {
          display: flex;
          width: 200px;
          justify-content: flex-end;
          gap: 4px;
          .CircleButton {
            padding: 5px 8px;
            width: 60px;
            background-color: #f2f3fd;
            border-radius: 20px;
            text-align: center;
          }
        }
      }
      .fromTokenSelectContainerBottom {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0;
        // height: 40px;
        align-items: center;
        .inputStyle {
          width: 70%;
          padding-left: 10px;
          font-size: 32px;
          &:focus {
            outline: none;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .balanceStyle {
          color: #25272b87;
          font-family: Gilroy, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
      }
    }

    .gasFeeContainer {
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgb(232, 236, 253);
      padding-top: 10px;
      margin-top: 10px;
      .fromTokenSelectContainerTop {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .titleStyle {
          color: rgb(31, 31, 65);
          font-family: Gilroy, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
        .balanceStyle {
          color: #25272b87;
          font-family: Gilroy, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
      }
      .fromTokenSelectContainerMiddle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        .chooseTokenDiv {
          display: flex;
          align-items: center;
          background-color: #f2f3fd;
          padding: 5px;
          border-radius: 16px;
          width: 110px;
          justify-content: space-between;

          .fromText {
            color: rgb(31, 31, 65);
            font-family: Gilroy, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
          }
        }

        .fromTokenSelectContainerMiddleInnerLeftContainer {
          display: flex;
          width: 200px;
          justify-content: flex-end;
          gap: 4px;
          .CircleButton {
            padding: 5px 8px;
            width: 60px;
            background-color: #f2f3fd;
            border-radius: 20px;
            text-align: center;
          }
        }
      }
      .fromTokenSelectContainerBottom {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0;
        // height: 40px;
        align-items: center;
        .inputStyle {
          width: 70%;
          padding-left: 10px;
          font-size: 32px;
          &:focus {
            outline: none;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .balanceStyle {
          color: #25272b87;
          font-family: Gilroy, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
        }
      }
    }
    .dividerDiv {
      margin: 10px 0 15px;
      border-bottom: 1px solid rgb(232, 236, 253);
      position: relative;

      .circleDiv {
        position: absolute;
        top: -12px;
        left: 48%;
        font-size: 26px;
        background-color: white;
        fill: #e8ecfe;
        color: black;
      }
    }

    .tokenAndInputDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tokenSelector {
        flex: 0.4;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .coinStyles {
          width: 24px;
          height: 24px;
        }

        .coinTitle {
          color: rgb(31, 31, 65);
          font-family: Gilroy, sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          margin-top: 4px;
          max-width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          user-select: none;
          white-space: nowrap;
        }

        .coinArrowDown {
          margin-top: 5px;
        }
      }
      .inputAmountDiv {
        flex: 0.5;
        background: rgb(247, 247, 255);
        border-color: rgb(247, 247, 255);
        border-radius: 12px;
        border-style: solid;
        border-width: 1px;
        color: rgb(31, 31, 65);
        cursor: default;
        font-family: Gilroy, sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        opacity: 1;
        outline: 0px;
        padding: 11px 13px 25px 15px;
        text-align: right;
        transition: all 0.1s ease-in-out 0s;
        width: 100%;
        will-change: border, background, opacity;
      }
    }

    .btndiv {
      width: 100%;
      color: white;
      padding: 10px 0 0;

      .connectWalletBtn {
        background: #25272b;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px,
          rgba(0, 0, 0, 0.16) 0px 1px 2px,
          rgba(255, 255, 255, 0.1) 0px 4px 9px inset;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        height: 55px;
        text-align: center;
        transition: all 0.15s ease-in 0s;
        width: 100%;
        will-change: transform, background-color, box-shadow;
        &:hover {
          background: #25272bcd;
        }
      }
    }
  }
}
